name: Setup Repository Secrets

on:
  workflow_dispatch:
    inputs:
      pypi_token:
        description: 'PyPI API token value (this is entered manually when running the workflow)'
        required: true

jobs:
  set-secrets:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      secrets: write
    steps:
      - name: Create or update `PYPI_API_TOKEN`
        uses: peter-evans/create-or-update-secret@v4
        with:
          secret-name: PYPI_API_TOKEN
          secret-value: ${{ github.event.inputs.pypi_token }}

      - name: Confirm
        run: echo "Secret 'PYPI_API_TOKEN' created/updated successfully."
